<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="MagicalLibs" value="https://www.myget.org/F/magicallibs/api/v3/index.json" protocolVersion="3"/>
  </packageSources>
  <activePackageSource>
    <add key="MagicalLibs" value="https://www.myget.org/F/magicallibs/api/v3/index.json" protocolVersion="3"/>
  </activePackageSource>
</configuration>